.Login-Container {
    height: 100vh;
    background-color: #e3e1e1;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
}
.Login-Logo {
    margin-top: 10%;
    margin-bottom: 5%;
    transform: scale(0.7);
}
.Login-Container .Login-input {
    top: 55%;
    background-color: #e3e1e18a;
    align-items: center;
}

.Login-Container button {
    width: 100%;
    margin-bottom: 10%;
    background-color: #931d25;
}
.Login-Container button:hover {
    background-color: #d1454e;
}

.Login-Container p {
    text-align: center;
    /* opacity: 0.5; */
}

.Login-Container p a {
    color: gray;
}

.Login-Container p i {
    margin-left: 2%;
    align-items: center;
    font-weight: bold;
}
