.PM-Add {
    background-color: #931d25;
}

.PM-Add:hover {
    background-color: #d1454e;
}

.PM-Student-List {
    text-align: center;
    text-decoration: none;
}

.PM-Student-List .PM-Student-List--Link {
    color: black;
    font-weight: 400;
}

.PM-Student-List .Row {
    justify-content: space-between;
}

.PM-Student-List .Item {
    width: 94%;
}
.PM-Delete {
    width: 5%;
}
.btn:not(:disabled):not(.disabled) {
    color: white;
}
.Modal-Body {
    height: 400px;
    overflow-y: auto;
}

.Modal-Name-List {
    overflow-y: auto !important;
}

.Modal .Modal-Button {
    background-color: #931d25;
}

.Modal .Modal-Button:hover {
    background-color: #d1454e;
}
