.Student-Container {
    height: 100vh;
    margin: 0px auto;
    padding-top: 20px;
    background-color: e3e1e1;
}
.Student-Container .NavBar {
    display: flex;
}
.Student-Container .NavBar img {
    transform: scale(0.5);
    margin-left: -28%;
}
.Student-Container .Student-Name {
    margin: 10% 0% 2.5% 0%;
    text-align: start;
}
.Student-Container .Student-Name h3 span {
    border-bottom: 1.5px solid black;
    padding-bottom: 1%;
}
.Student-Container .Student-Sprint {
    display: flex;
    justify-content: center;
    text-align: center;
}
.Student-Container .Student-Sprint li {
    cursor: pointer;
}

.Student-Container .Student-Sprint-Toggle-Review {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
}
.Student-Container .Student-Sprint-Input {
    margin: auto;
}

.Student-Container .Student-Sprint-Link {
    background-color: #931d25;
    align-self: center;
}
.Student-Container .Student-Sprint-Link:hover {
    background-color: #d1454e;
}
.Student-Container .PM {
    width: 50%;
}
.Student-Name {
    text-align: center;
}
